* {
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #C9D7F8;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
}


h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1.2rem;
}

strong{
  text-decoration: underline;
}

a{
  color: darkorchid;
  font-weight: bold;
}


::-webkit-scrollbar{
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(transparent ,  transparent , transparent , transparent , red , transparent , transparent);
  border-radius: 10vh;
}


.mainDiv {
  min-height: 95vh;
  height: 95vh;
  /* width: 50vh; */

  width: 90%;


  background-color: black;

  border-radius: 7vh;

  display: flex;
  justify-content: center;
  align-items: center;


}

.innerDiv {
  height: 90%;
  background-color: #fff;
  width: 98%;

  border-radius: 4vh;

  margin-bottom: 1vh;

  display: flex;

  flex-direction: column;

  background-image: linear-gradient(270deg , #acfaa0 , white , white , #f9f999);
  


}

.punchC {
  height: 2.5vh;
  width: 2.5vh;
  background-color: black;
  border-radius: 50%;
  margin: 0.5vh auto;

  display: flex;

  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  z-index: 100;

}

.punchC:hover {
  transform: scale(1.5);
  left: 49.5%;
  margin: 1vh auto;

}

.punchC>div {
  height: 50%;
  width: 50%;

  border-radius: 50%;
  background-color: darkolivegreen;

  margin: auto;

  display: flex;

}

.punchC>div>div {

  height: 15%;
  width: 15%;

  border-radius: 50%;
  background-color: seashell;

  margin: auto;

}

.content {
  margin: 0 auto;

  height: 98%;
  width: 98%;
  /* background-color: blue; */

  padding-top: 5vh;

  text-align: center;
  overflow-y: auto;

  border-radius: 4vh;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.content>div {
  width: 40vh;
  margin: 1%;

  min-height: 28vh;

  height: fit-content;
  padding:  1vh;
}


.heading {
  border: 1px solid black;
  margin: 1vh 0;
  background-color: cyan;
  color: red;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 2vh;
  margin-bottom: 5vh;
  border-width: medium;

  width: 100%;
}

.heading > h2{
  font-size: 2.5rem;
}

.heading > button{
  margin: 0.5vh 0;
  padding: 0.25vh 0.5vh;
  border-radius: 1.5vh;
  background-color: yellow;

}

.heading > button:hover{
  background-color: red;

}

#about_detail{
  display: none;
}

#about_detail > ul > li{
  text-align: start;
  list-style: inside;
  margin: 0 1vh;
  color: black;
  font-weight: 100;
}


.cancel{
  margin-left: 95%;
  border-radius: 1vh;
  background-color: red;
  padding: 0.5vh;
  color: white;
  font-weight: bolder;
}

.cancel:hover{
  background-color: yellow;
}

.first {
  border: 1px solid;
  margin: 1vh 0;
  border-radius: 2vh;
  padding: 0.5vh;

  background-color: blanchedalmond;
}

.first>h3 {
  text-shadow: 2px 1px 2px white;
  text-decoration: underline;
}


#input_image {
  margin: 1vh 0;
}



#first_res {
  width: 100%;
}

#first_res>div {
  margin: 2.5vh 0;
  border: 1px solid;
  border-radius: 1vh;
  padding: 1vh;
  background-color: #e8e8e8;
}

#first_res>div>p {
  font-size: 1.2rem;
  line-break: anywhere;
  font-weight: bold;
}

#first_res>div>img {
  width: 100%;
  object-fit: contain;
}



.second {
  border: 1px solid;
  margin: 1vh 0;
  border-radius: 2vh;
  padding: 0.5vh;


  background-color: greenyellow;
}

.second>h3 {
  text-shadow: 2px 1px 2px white;
  text-decoration: underline;

}




#input_video {
  margin: 1vh 0;
}


#second_res {
  width: 100%;
}


#second_res>div {
  margin: 2.5vh 0;
  border: 1px solid;
  border-radius: 1vh;
  background-color: #e8e8e8;
  padding: 1vh;
}

#second_res>div>p {
  font-size: 1.2rem;
  line-break: anywhere;
  font-weight: bold;
}

#second_res>div>video {
  width: 100%;
  object-fit: contain;
}



.third {
  border: 1px solid;
  margin: 1vh 0;
  border-radius: 2vh;
  padding: 0.5vh;


  background-color: lightcyan;
}


.contact_info {
  border: 1px solid;
  margin: 1vh 0;
  border-radius: 2vh;
  padding: 0.5vh;


  background-color: honeydew;
}

.logos {
  margin: 0.5vh;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 10px;
}


.logos:hover{
  transform: rotate(50deg);
}




#all_previous {
  border: 1px solid;
  margin: 1vh 0;
  border-radius: 2vh;
  padding: 0.5vh;
  border-width: medium ;

  background-color: lightskyblue;
  margin-bottom: 5vh;

}

#show_all_uploads {

  margin: 0.5vh 0;
  border-radius: 2vh;
  padding: 0.5vh 2vh;
  background-color: pink;

  visibility: hidden;

  display: none;

}


#show_all_uploads:hover {
  background-color: yellow;
  margin: 0.5vh 0;
  border-radius: 2vh;
  padding: 0.5vh 2vh;

}


#all_upload_res_div {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}



#all_upload_res_div>div {
  margin: 2.5vh 0;
  border: 1px solid;
  border-radius: 1vh;
  background-color: #e8e8e8;
  padding: 1vh;
}

#all_upload_res_div>div>p {
  font-size: 1.2rem;
  line-break: anywhere;
  font-weight: bold;
}

#all_upload_res_div>div>img {
  width: 100%;
  object-fit: contain;

}

#all_upload_res_div>div>video {
  width: 100%;
  object-fit: contain;

}




.lastNavi {
  height: 0.5%;
  width: 30%;
  background-color: black;


  margin: 0.5vh auto;
}



#keypad_For_Leptop {
  display: none;
}

#last_stand_for_destop {
  display: none;
}


#water_mark{
  position: absolute;
  bottom: 2px;
  right: 10px;
  font-weight: bolder;
  color: #fff;
  text-decoration: underline;
  animation: waterMarkBig infinite ease-in-out 1s alternate;
}


/* Code for loading io (Starts) -------> */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 20%;

  /* background-color: red; */

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-30%, -20%);

  visibility: hidden;
  z-index: 100;


}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 30% 30%;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: black;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}


/* Code for loading io (Ends) -------> */



@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* Animation for watermark  */

@keyframes waterMarkBig {

  0%{
    transform: scale(1);
  }

  100%{
    transform: scale(1.5) translate(-20px , -5px);
  }
  
}



/* (Frame style) according to all devices -----------------> */

/* Desktop  */
@media (min-width : 1024px) {

  .mainDiv {
    min-height: 85vh;
    height: 85vh;

  }

  .punchC {
    display: none;
  }

  .content >.heading {
    margin-bottom: 5vh;
    padding: 2vh 0;
    font-size: 0.9rem;

    width: 100%;
    min-height: fit-content;
  }

  
  .third{

    height: 28vh !important;

    overflow-y: auto;
  }

  .third::-webkit-scrollbar{
    width: 3px;
  }

  .third::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  .third::-webkit-scrollbar-thumb {
    /* background: blue; */
    background-image: linear-gradient(60deg , blue , pink, pink);
    border-radius: 10vh;
  }
  


  #all_previous{
    width: 100%;
    min-height: fit-content;
  }


  #all_upload_res_div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
  }

  #all_upload_res_div>div {

    margin: 1%;
    width: 45%;
  }

  .lastNavi {
    display: none;
  }

  #keypad_For_Leptop {
    display: block;
    height: 10vh;
    width: 5%;
    background-color: black;
  }

  #last_stand_for_destop{
    display: block;
    background-color: black;
    width: 30%;
    height: 1vh;
    border-radius: 50%;
  }
}



/* Leptop */
@media ((min-width : 768px) and (max-width : 1024px)) {

  .mainDiv {
    min-height: 80vh;
    height: 80vh;

  }

  .punchC {
    display: none;
  }

  .content >.heading {
    margin-bottom: 5vh;
    padding: 2vh 0;
    font-size: 0.9rem;

    width: 100%;
    min-height: fit-content;
  }


  .third{

    height: 28vh !important;

    overflow-y: auto;
  }

    .third::-webkit-scrollbar{
    width: 3px;
  }

  .third::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  .third::-webkit-scrollbar-thumb {
    background-image: linear-gradient(60deg , blue , pink, pink);
    border-radius: 10vh;
  }
  


  #all_previous{
    width: 100%;
    min-height: fit-content;
  }


  #all_upload_res_div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 
  }

  #all_upload_res_div>div {

    margin: 1%;
    width: 45%;
  }

  .lastNavi {
    display: none;
  }

  #keypad_For_Leptop {
    display: block;
    height: 10vh;
    width: 90%;
    background-color: black;
    border-radius: 7vh;
    transform: rotateX(77deg) translateY(-110px);
  }
}





/* Tab (Done)*/
@media ((min-width : 480px) and (max-width : 768px)) {

  h3 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1rem;
  }

  .mainDiv {
    border-radius: 1vh;

  }

  .heading > h2{
    font-size: 2rem;
  }

  .innerDiv {
    width: 94%;
    border-radius: 1vh;

  }

  .punchC {
    display: none;
  }

  .content {
    margin-top: 0;
  }

  .lastNavi {
    display: none;
  }


  .content>div {
    width: 80%;
    margin: 1%;

    height: fit-content;
    min-height: auto;
  }

  .content >.heading {
    margin-bottom: 5vh;
    padding: 2vh 0;
    font-size: 0.9rem;
  }

  #first_res>div>p {
    font-size: 1rem;
  }

  #second_res>div>p {
    font-size: 1rem;
  }


  #all_upload_res_div>div>p {
    font-size: 1rem;
  }



}




/* Mobile (Done)*/
@media ((min-width : 320px) and (max-width : 480px)) {

  .heading > h2{
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.2rem;
  }


  .mainDiv {
    width: 45vh;
    min-height: 90vh;
    height: 90vh;
  }

  .innerDiv{
    width: 97.5%;
    overflow-x: hidden;
  }

  .content{
    overflow-x: hidden;
  }

  .content>div {
    width: 90%;
    margin: 1%;
    height: fit-content;
    min-height: fit-content;

  }

  .content>.heading {
    margin-bottom: 5vh;
  }

  #about_detail > ul > li{
    font-size: 1rem;
  }

  .cancel{
    margin-left: 90%;
    margin-bottom: 2%;
  }
  

  #all_upload_res_div>div>p {
    font-size: 0.9rem;
  }
}


/* Below then mobile */

@media ((min-width : 0px) and (max-width : 320px)) {


  h3 {
    font-size: 1.2rem;
  }

  .heading > h2{
    font-size: 1.2rem;
  }

  .mainDiv {
    min-height: 85vh;
    height: 88vh;
  }

  .content{
    overflow-x: hidden;
  }


  .content>div {
    width: 90%;
    margin: 1%;
    height: fit-content;
    min-height: fit-content;

  }

  .content>.heading {
    margin-bottom: 5vh;
    height: fit-content;
    min-height: fit-content;
  }

  #about_detail > ul > li{
    font-size: 1rem;
  }
  

  #all_upload_res_div>div>p {
    font-size: 0.9rem;
  }


}